<div class="container">
        <div class="row mt-4">
            <div class="col text-left">
                <button [routerLink]="['']" mat-flat-button color="primary">Log Out</button>
            </div>
            <div class="col text-right">
                <button [routerLink]="['new']" mat-flat-button color="primary">Add</button>
            </div>
        </div>
    </div>

    <router-outlet ></router-outlet> 
    
    <div class="mat-elevation-z8" class="container">
        <table mat-table [dataSource]="dataSource" matSort>
    
            <!-- ID Column -->
            <ng-container matColumnDef="best">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Best </th>
                <td mat-cell *matCellDef="let row" [routerLink]="['/game', row.id]"> {{row.best}} </td>
            </ng-container>
    
            <!-- Progress Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let row" [routerLink]="['/game', row.id]"> {{row.name}}</td>
            </ng-container>
    
            <!-- Name Column -->
            <ng-container matColumnDef="attemtped">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Attemtped </th>
                <td mat-cell *matCellDef="let row" [routerLink]="['/game', row.id]"> {{row.attemtped}} </td>
            </ng-container>
    
            <!-- Color Column -->
            <ng-container matColumnDef="solved">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Solved </th>
                <td mat-cell *matCellDef="let row" [routerLink]="['/game', row.id]"> {{row.solved}} </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>
    
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>