<div class="container">
    <div class="row mt-4 ml-4 mr-4 mb-4" id="top">
        <div class="col">
            <h3 *ngIf="gameObj.best != 0">High Score: {{gameObj.best}}</h3>
            <h3 *ngIf="gameObj.best == 0">High Score: N/A</h3>
        </div>
        <div class="col text-center">
            <h3 *ngIf="clicks != 1">{{clicks}} clicks</h3>
            <h3 *ngIf="clicks == 1">{{clicks}} click</h3>
        </div>
        <div class="col text-right">
            <h3>S/A: {{gameObj.solved}}/{{gameObj.attemtped}}</h3>
        </div>
    </div>
</div>

<div id="body">
    <mat-grid-list [cols]="WIDTH" class="container" [rowHeight]="rowHeight">
        <div *ngFor="let horizontal of map; let i = index">
            <div *ngFor="let vertical of horizontal; let j = index">
                <mat-grid-tile 
                matRipple
                color = "red"
                *ngIf="vertical == 0" class="form-control bg-primary"
                    (click)="onButtonClick((i * horizontal.length) + j)">
                </mat-grid-tile>


                <mat-grid-tile 
                matRipple
                color = "blue"
                *ngIf="vertical == 1" class="form-control bg-danger"
                    (click)="onButtonClick((i * horizontal.length) + j)">
                </mat-grid-tile>
            </div>
        </div>
    </mat-grid-list>
</div>



<div class="mt-4" id="bottom" class="container">
    <div class="row mt-4">
        <div class="col">
            <button [routerLink]="['/gameList']" mat-flat-button color="primary">Back</button>
        </div>
        <div class="col text-center">
            <button mat-flat-button color="primary" (click)="refreshPage()">Reset</button>
        </div>
        <div class="col text-right">
            <button (click)="next()" mat-flat-button color="primary">Next</button>
        </div>
    </div>
</div>